* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #F3F3F3;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #EEE;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#pagination {
    margin-top: 2rem;
}